article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary { display: block; }
audio,
canvas,
video { display: inline-block;  *display: inline;
 *zoom: 1;
}
audio:not([controls]) { display: none; height: 0; }
[hidden] {
 display: none;
}
html { font-size: 100%; /* 1 */ -webkit-text-size-adjust: 100%; /* 2 */ -ms-text-size-adjust: 100%; /* 2 */ }
html,
button,
input,
select,
textarea { font-family: sans-serif; }
body { margin: 0; }
a:focus { outline: thin dotted; }
a:active,
a:hover { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
h1, h2, h3, h4, h5, h6 {margin-top:0; margin-bottom:0;text-rendering: optimizeLegibility;font-weight:normal; }
h1 a, h2 a, h3 a {text-decoration:none; }
b,
strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
/*
 * Addresses styling not present in Safari 5 and Chrome.
 */

dfn { font-style: italic; }
/*
 * Addresses styling not present in IE 6/7/8/9.
 */

mark { background: #ff0; color: #000; }
p,
pre { margin-top:0;margin-bottom:0; }
code,
kbd,
pre,
samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before,
q:after { content: ''; content: none; }
small { font-size: 80%; }
sub,
sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.25em; }
sub { bottom: -0.25em; }
dl,
menu,
ol,
ul { margin:0; }
dd { margin: 0; }
.nav,
nav ul,
nav ol,
ol.unstyled,
ul.unstyled { list-style: none; list-style-image: none; padding-left:0;}
img { border: 0;-ms-interpolation-mode: bicubic;}
img.full-width { width:100%; height: auto; }
img.max-width { max-width:100%; height: auto; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }
/* ==========================================================================
   Forms
   ========================================================================== */
form { margin: 0; }
fieldset { border: 0 none; margin: 0; padding:0; }
legend { border: 0; /* 1 */ padding: 0; white-space: normal; /* 2 */  *margin-left: -7px; /* 3 */
}
button,
input,
select,
textarea { font-size: 100%; /* 1 */ margin: 0; /* 2 */ vertical-align: baseline; /* 3 */  *vertical-align: middle; /* 3 */
}


button,
input { line-height: normal; }
button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] { -webkit-appearance: button; /* 2 */ cursor: pointer; /* 3 */  *overflow: visible;  /* 4 */
}

button[disabled],
input[disabled] { cursor: default; }
/*
 * 1. Addresses box sizing set to content-box in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 * 3. Removes excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] { box-sizing: border-box; /* 1 */ padding: 0; /* 2 */  *height: 13px; /* 3 */
 *width: 13px; /* 3 */
}
/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] { -webkit-appearance: textfield; /* 1 */ -moz-box-sizing: content-box; -webkit-box-sizing: content-box; /* 2 */ box-sizing: content-box; }

/*
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
 -webkit-appearance: none;
}

/*
 * Removes inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner, input::-moz-focus-inner {
 border: 0;
 padding: 0;
}
/*
 * 1. Removes default vertical scrollbar in IE 6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 */

textarea { overflow: auto; /* 1 */ vertical-align: top; /* 2 */ }
/* ==========================================================================
   Tables
   ========================================================================== */

/*
 * Remove most spacing between table cells.
 */

table { border-collapse: collapse; border-spacing: 0; }