.carousel { position: relative; margin-bottom: 0; line-height: 1; }
.carousel-inner { position: relative; width: 100%; overflow: hidden; }
.carousel-inner > .item { position: relative; display: none; -webkit-transition: 0.6s ease-in-out left; -moz-transition: 0.6s ease-in-out left; -o-transition: 0.6s ease-in-out left; transition: 0.6s ease-in-out left; }
.carousel-inner > .item > img { display: block; line-height: 1; }
.carousel-inner > .active, .carousel-inner > .next, .carousel-inner > .prev { display: block; }
.carousel-inner > .active { left: 0; }
.carousel-inner > .next, .carousel-inner > .prev { position: absolute; top: 0; width: 100%; }
.carousel-inner > .next { left: 100%; }
.carousel-inner > .prev { left: -100%; }
.carousel-inner > .next.left, .carousel-inner > .prev.right { left: 0; }
.carousel-inner > .active.left { left: -100%; }
.carousel-inner > .active.right { left: 100%; }
.carousel-control { position: absolute; top: 40%; left: 15px; width: 40px; height: 40px; margin-top:0; font-size: 60px; font-weight: 100; line-height: 30px; color: #ffffff; text-align: center; text-decoration: none; }
.carousel-control.right { right: 15px; left: auto; }
.carousel-control:hover { color: #ffffff; text-decoration: none; }
.carousel-caption { position: absolute; right:auto; bottom: 0; left:auto; padding: 0 0; }
.carousel-caption h4, .carousel-caption p { line-height: 20px; }
.carousel-caption h4 { }
.carousel-caption p { margin-bottom: 0; }
