.close {
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  text-shadow: 0 1px 0 #ffffff;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
	opacity: 0.2;
	filter: alpha(opacity=20);
}

.close:hover {
  text-decoration: none;
  cursor: pointer;
	opacity: 0.4;
	filter: alpha(opacity=40);
}

button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}