

/* Grid
_______________________________________________________________________________________ */
.container {padding-left:10px; padding-right:10px; max-width:1080px; margin-left: auto; margin-right: auto; }
.row { width:100%;  *zoom: 1;}

.row [class*="col"],
.row [class*="mcol"] { float: left; display:block; width:auto; }
.row [class*="col"].pad,
.row [class*="mcol"].pad { padding-left: 2.0833333333333%; padding-right:  2.0833333333333%; }
.row [class*="col"].add,
.row [class*="mcol"].add { margin-left: 2.0833333333333%; margin-right:  2.0833333333333%; }
.nav ul,
.nav ol {padding-left:0;width:100%;margin-top: 0;margin-bottom:0; display:block;float: none;}

.nav li a {  display:block;float: none; text-decoration:none;}


  /* 600 =================================================== */
}

 .row [class*="col"] {
     width: auto;
     float: left;
     display:block;
 }
.nav ul,
.nav ol { float: left;}
.nav ul ul,
.nav ol ol {float: none;}
.nav li { float: left; }
.row .col1 { width:8.33333333333333%; }
.row .col2,
.count6 .cols { width:16.66666666%; }
.row .count5 .cols { width:20%; }
.row .col3,
.row .count4 .cols { width:25%; }
.row .col4,
.row .count3 .cols { width:33.3333333%; }
.row .col5 { width:41.5%; }
.row .col6,
.row .count2 .cols { width:50%; }
.row .col7 { width:58.3333333333333%; }
.row .col8 { width:66.6666666666666%; }
.row .col9 { width:75%; }
.row .col10 { width:83.3333333333333%; }
.row .col11 { width: 91.6666666666666%; }
.row .col12,
.row .count1 .cols { width: 100%; }
.row .col1.add,
.row .col1.pad { width: 4.1666666666667%; }
.row .col2.add,
.row .col2.pad { width: 12.333333333333%; }
.row .count6 .cols.add,
.row .count6 .cols.pad { width:12.4999999933%; }
.row .col3.add,
.row .col3.pad,
.row .mcol3.add,
.row .mcol3.pad,
.row.count4 .cols.pad { width: 20.833333333333%; }
.row .col4.pad,
.row .col4.add,
.row.count3 .cols.pad { width: 29.16666666666%; }
.row .col5.add,
.row .col5.pad { width: 37.5%; }
.row.count5 .cols.add { width: 15.83333333333%; }
.row .col6.pad,
.row .col6.add,
.row.count2 .cols.pad { width: 45.8333333333334%; }
.row .col7.add,
.row .col7.pad { width: 54.166666666667%; }
.row .col8.add,
.row .col8.pad { width: 62.5%; }
.row .col9.pad,
.row .col9.add { width: 70.833333333333%; }
.row .col10.pad,
.row .col10.add { width: 79.166666666667%; }
.row .col11.add,
.row .col11.pad { width: 87.5%; }
.row .col12.add,
.row .col12.pad { width: 95.833333333333%; }
.row .colfr,
.colfr { float: right; }
.row .col.centered { float: none; margin-left:auto; margin-right:auto; }
.affix {
	position: fixed;
}
.affix.left {
	left: 0;
}
.affix.top {
	top: 0;
}
.affix {
	z-index:1000;
	}

.img-center {
	display:block;
	margin-left:auto;
	margin-right:auto;
}

@media only screen and (max-width: 480px) {
  /* 600 =================================================== */
  .row [class*="col"],
  .row [class*="col"].pad,
  .row [class*="col"].add,
  .row [class*="count"] > .cols,
  .row [class*="count"] > .cols.pad,
  .row [class*="count"] > .cols.add  {
      width: auto;
      float:none;
  }
  .row [class*="mcol"],
  .row [class*="mcol"].add,
  .row [class*="mcol"].pad,
  .row .colfl { float: left; display:block; width:auto; }
  .row .mcol3 { width:33.3333333%; }
	.row .mcol3.add,
	.row .mcol3.pad{ width: 20.833333333333%; }
	.row .mcol6 { width:50%; }
	.row .mcol6.add,
	.row .mcol6.pad{ width: 45.8333333333334%; }
}

