/* Helpers 
______________________________________________________________________________*/ 
.relative { position: relative; }
.add-top { margin-top: 10px; }
.add-bottom { margin-bottom: 10px; }
.add-double-top { margin-top: 20px; }
.add-double-bottom { margin-bottom:20px; }
.pad-top { padding-top:10px; }
.pad-bottom { padding-bottom: 10px;  }
.pad-double-top { padding-top: 20px; }
.pad-double-bottom { padding-bottom: 1em; }
.half-row { width: 50%; margin-left: auto; margin-right: auto; }
.hide-overflow { overflow:hidden; }
.block-ctr, #page ul.block-ctr { margin-left: auto; margin-right: auto; display: block; }
.ir { display: block; border: 0; text-indent:-999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.hide { display:none; }
.show { display:block; }
.hide-text { font: 0/0 a; line-height:20px; display:block; color: transparent; text-shadow: none; background-color: transparent; border: 0; }
.serif-face { font-family:serif; }
.txt-lower { text-transform:lowercase; }
.txt-caps { text-transform:uppercase; }
.txt-left { text-align:left; }
.txt-center { text-align:center; }
.txt-justify { text-align:justify; }
.txt-right { text-align:right; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin:-1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
@-ms-viewport {
 width: device-width;
}
.clearfix, .container, .row {  *zoom: 1;
}
.clearfix:before, .clearfix:after, .container:before, .container:after, .row:before, .row:after { display: table; line-height: 0; content: ""; }
.clearfix:after, .container:after, .row:after { clear: both; }
