h1 {
	color:orange;
	font-size:50px;
	}
h3{
	color:orange;
	font-size:25px;
	font-style:italic;
	}
body {
      text-align: center;
      background-color: black;
      background-size: cover;
      background-position: center;
      color: white;
      font-family: helvetica;
    }
p {
      font-size: 22px;
    }
input {
      border: 0;
      padding: 10px;
      font-size: 18px;
    }
input[type="submit"] {
      background: orange;
      color: white;
    }
header {
  text-align:center;
  background-size: cover;
  color:white;
}
a {
  color:white;
}
ul {
  padding: 10px;
  background: black;
}
li {
  display: inline;
  padding: 0px 10px 0px 10px;
}
img {
  margin: 40px 0px 0px 0px;
  border: 7px solid white;
  border-radius: 20px;
  }
  article {
      max-width: 800px;
      padding: 10px;
      margin: 0 auto;
    }