.form_title {
color:white;
text-align: left;
font-family:'Source Sans Pro', arial, sans-serif;
font-size: 40px;
padding-bottom: 5px;
font-weight: lighter;
margin-top:15px;
}
     .tooltip
        {
            display: inline;
            position: relative;
            text-decoration: none;
            top: 0px;
            left: 0px;
        }
        .tooltip:hover:after
        {
            background: #333;
            background: rgba(0,0,0,.8);
            border-radius: 5px;
            top: -5px;
            color: #fff;
            content: attr(alt);
            left: 97%;
            padding: 5px 15px;
            position: absolute;
            z-index: 98;
            width: 30%;
        }
        .tooltip:hover:before
        {
            border: solid;
            border-color: transparent black;
            border-width: 6px 6px 6px 0;
            bottom: 20px;
            content: "";
            left: 96%;
            position: absolute;
            z-index: 99;
            top: 3px;
        }
body {
font-family:'Source Sans Pro', arial, sans-serif;
min-height: 100%;
display: block;
margin: 0;
padding: 0;
line-height:1;
}
#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
    background-color:#333333;

}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
  opacity:0.3;
}

.menuBar{
z-index: 1000;
--moz-box-shadow: 1px 1px 3px black;
-webkit-box-shadow: 1px 1px 3px black;
box-shadow: 1px 1px 3px 3px black;
	
	
position:fixed;
    width:100%;
    height:52px;
    display:absolute;
    top:0;
    left:0;
    right:0;
	background-color: #FF5D17;
	display: block;
	line-height: 18px;
    }
.logo{
    float:left;
	height:52px;
	line-height:52px;
	display: block;
	vertical-align:center;
    padding: 0 20px;
    -webkit-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
    }
.nav{
    float:right;
    margin-right:10px;}
.nav ul li{
    list-style:none;
    float:left;
    }

.form-container {
padding: 8% 0;
display: block;
margin:0;
line-height:1;
color: white;
position:absolute;
padding-left: 30%;
width:40%;
}

#myform {
margin-top:5%	;
padding: 0;
display:block;
color: white;
line-height:1;
	}


::-webkit-input-placeholder {
text-align:left;
color:#9e9e9e;
font-family:'Source Sans Pro', arial, sans-serif;
font-size:15px;
margin:10px 0;
}

:-moz-placeholder{
text-align:center;
color:#9e9e9e;
}

:-ms-input-placeholder {
text-align:center;
color:#9e9e9e;
}

input.form {
font-family:'Source Sans Pro', arial, sans-serif;
border: 2px solid transparent;
width:100%;
font-size: 16px;
background-color:white;
color:black;
height: 40px;
text-align:left;
padding: 0 11px;
line-height:1.3;
border-radius: 3px;
box-sizing:border-box;
}

input.file {
border-radius: 3px;
width:80%;
font-size: 100%;
color:black;
height: 8%;
text-align:center;
}


#submit {
font-family:'Source Sans Pro', arial, sans-serif;
border-radius: 3px;
width:100%;
font-size: 24px;
background-color:#FF5D17;
opacity:0.6;
color:white;
height: 60px;
text-align:center;
-webkit-appearance: button;
vertical-align:middle;
box-sizing:border-box;
padding: 2px 6px 3px;
transition: all 0.4s ease;
text-transform: uppercase;	
}
a {
color:white;
}
.help {
color:white;
font-style:bold;
font-style:italic;

font-size:20px;
height:5%;
text-align: center;
}
#resume {
font-family:'Source Sans Pro', arial, sans-serif;
border-radius: 3px;
width:100%;
font-size: 24px;
background-color:#C3C3C3;
opacity:0.8;
color:white;
height: 40px;
text-align:center;
-webkit-appearance: button;
vertical-align:middle;
box-sizing:border-box;
padding: 2px 6px 3px;
transition: all 0.4s ease;
text-transform: uppercase;
            }
#university{
background-color:grey;
color:black;
}
select {
font-family:'Source Sans Pro', arial, sans-serif;
border: 2px solid transparent;
width:100%;
font-size: 16px;
background-color:white;
color:#9e9e9e;
height: 40px;
text-align:left;
padding: 0 11px;
line-height:1.3;
border-radius: 3px;
box-sizing:border-box;
}

#file {
    display:none;
	}
#nameError{
background-color:red;
width:40%;
}
#emailError{
background-color:red;
}
