
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * General page setup
 */
body{
padding-top:75px;

}

#dt_example {
	font: 80%/1.45em "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	color: #333;
	background-color: #fff;
}
#nav{
z-index: 1000;
--moz-box-shadow: 1px 1px 3px black;
-webkit-box-shadow: 1px 1px 3px black;
box-shadow: 1px 1px 3px 3px black;
position:fixed;
    width:100%;
    height:52px;
    display:absolute;
    top:0;
    left:0;
    right:0;
	background-color: #FF5D17;
	display: block;
	line-height: 10%;
}
#logo{
float:left;
	height:100%;
	line-height:52px;
	display: block;
	vertical-align:center;
    padding: 0 20px;
    -webkit-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;}
    
#navigation {
float:right;
list-style:none;
}

#navigation li{
    list-style:none;
    float:left;
    margin-right: 10px;
    height:52px;
    }

#navigation a:hover {
color: #FF5D17;
background-color:white;
height:52px;
}

#navigation a{
text-decoration: none;
color:white;
height:52px;
}

#dt_example #container {
	width: 800px;
	padding-top:65px;
		background-color:#F6F6F6;

}


#dt_example #footer {
	margin: 50px auto 0 auto;
	padding: 0;
}

#dt_example #demo {
	margin: 30px auto 0 auto;
}

#dt_example .demo_jui {
	margin: 30px auto 0 auto;
}

#dt_example .big {
	font-size: 1.3em;
	font-weight: bold;
	line-height: 1.6em;
	color: #4E6CA3;
}

#dt_example .spacer {
	height: 20px;
	clear: both;
}

#dt_example .clear {
	clear: both;
}

#dt_example pre {
	padding: 15px;
	background-color: #F5F5F5;
	border: 1px solid #CCCCCC;
}

#dt_example h1 {
	margin-top: 2em;
	font-size: 1.3em;
	font-weight: normal;
	line-height: 1.6em;
	color: #4E6CA3;
	border-bottom: 1px solid #B0BED9;
	clear: both;
}

#dt_example h2 {
	font-size: 1.2em;
	font-weight: normal;
	line-height: 1.6em;
	color: #4E6CA3;
	clear: both;
}

#dt_example a {
	color: #0063DC;
	text-decoration: none;
}

#dt_example a:hover {
	text-decoration: underline;
}

#dt_example ul {
	color: #4E6CA3;
}

.css_right {
	float: right;
}

.css_left {
	float: left;
}

.demo_links {
	float: left;
	width: 50%;
	margin-bottom: 1em;
}

#demo_info {
	padding: 5px;
	border: 1px solid #B0BED9;
	height: 100px;
	width: 100%;
	overflow: auto;
}

#dt_example code {
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
	padding: 2px 4px !important;
	white-space: nowrap;
	font-size: 0.9em;

	color: #D14;
	background-color: #F7F7F9;

	border: 1px solid #E1E1E8;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
}
