h1{
-webkit-margin-before: 0.2em;
-webkit-margin-after: 0.4em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
text-align:center;
font-size: 28px;
}
.form_title {
color:white;
width:100%;
padding: 80px 0 10px 0;

}
     .tooltip
        {
            display: inline;
            position: relative;
            text-decoration: none;
            top: 0px;
            left: 0px;
        }
        .tooltip:hover:after
        {
            background: #333;
            background: rgba(0,0,0,.8);
            background-color:red;
            border-radius: 3px;
            color: #fff;
            content: attr(alt);
            left: 110%;
            padding: 2% 2%;
            position: absolute;
            z-index: 98;
            width: 40%;
            opacity:.8;	
        }
        
body {
font-family:'Source Sans Pro', arial, sans-serif;
min-height: 100%;
display: block;
margin: 0;
padding: 0;
line-height:1;
}
#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
    background-color:#333333;

}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
  opacity:0.3;
}

.menuBar{
z-index: 1000;
--moz-box-shadow: 1px 1px 3px black;
-webkit-box-shadow: 1px 1px 3px black;
box-shadow: 1px 1px 3px 3px black;
	
	
position:fixed;
    width:100%;
    height:52px;
    display:absolute;
    top:0;
    left:0;
    right:0;
	background-color: #FF5D17;
	display: block;
	line-height: 10%;
    }
.logo{
    float:left;
	height:100%;
	line-height:52px;
	display: block;
	vertical-align:center;
    padding: 0 20px;
    -webkit-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
    }
.nav{
    float:right;
    margin-right:10px;}
.nav ul li{
    list-style:none;
    float:left;
    margin-right: 10px;
    height:52px;
    }
    
.nav a:hover {
color: #FF5D17;
background-color:white;
height:52px;
}

.nav a{
text-decoration: none;
color:white;
height:52px;
}
a{
color:white;
}
.form-container {
padding: 0 27%;
display: block;
line-height:1;
color: white;
position:absolute;
width:500px;
height: 100%;
}






::-webkit-input-placeholder {
text-align:left;
color:black;
font-family:'Source Sans Pro', arial, sans-serif;
font-size:15px;
margin:10px 0;
font-weight:300;
}

:-moz-placeholder{
text-align:center;
color:black;
font-family:'Source Sans Pro', arial, sans-serif;
font-size:15px;
margin:10px 0;
font-weight:300;

}

:-ms-input-placeholder {
text-align:center;
color:black;
font-family:'Source Sans Pro', arial, sans-serif;
font-size:15px;
margin:10px 0;
font-weight:300;

}

form{
width:100%;
}

input.form {
font-family:'Source Sans Pro', arial, sans-serif;
border: 2px solid transparent;
width:100%;
font-size: 16px;
background-color:white;
color:black;
height: 40px;
text-align:left;
padding: 0 11px;
line-height:1.3;
border-radius: 3px;
box-sizing:border-box;
margin-bottom:3%;
font-weight:700;

}

#university{
opacity:1;
background-color:grey;
font-style: bold;
}

#submit {
font-family:'Source Sans Pro', arial, sans-serif;
border-radius: 3px;
width:100%;
font-size: 24px;
background-color:#FF5D17;
opacity:1;
color:white;
height: 80px;
text-align:center;
appearance:button;
-moz-appearance:button; /* Firefox */
-webkit-appearance:button;vertical-align:middle;
box-sizing:border-box;
padding: 2px 6px 3px;
transition: all 0.4s ease;
letter-spacing: 2px;
word-spacing: normal;

}
#submit:hover{
opacity:1;
}

.help {
color:white;
font-style:bold;
font-style:italic;

font-size:20px;
height:5%;
text-align: center;
}
#resume {
font-family:'Source Sans Pro', arial, sans-serif;
border-radius: 3px;
width:100%;
font-size: 24px;
background-color:#C3C3C3;
opacity:1;
color:white;
height: 40px;
text-align:center;
appearance:button;
-moz-appearance:button; /* Firefox */
-webkit-appearance:button;
vertical-align:middle;
box-sizing:border-box;
padding: 2px 6px 3px;
transition: all 0.4s ease;
letter-spacing: 2px;
}

#resume:hover{
opacity:1;
}


#file {
visibility:hidden;
padding: 0;
}
	
#nameError{
background-color:red;
width:40%;
   background: transparent;

}
#emailError{
background-color:red;
   background: transparent;

}
.thankyou{
margin-top:30%;
font-style: italic;
font-size: 30px;
}
.styled-select select {
  font-weight:300;
color:black;

   -webkit-appearance: none;

font-family:'Source Sans Pro', arial, sans-serif;
border: 2px solid transparent;
width:100%;
font-size: 16px;
background: transparent;
height: 40px;
text-align:left;
padding: 0 11px;
line-height:1.3;
border-radius: 3px;
box-sizing:border-box;

   }
   
   .styled-select {
   font-weight:300;
color:black;
   width: 100%;
   height: 40px;
   overflow: hidden;
   background: url(http://hirecanvas.com/event_form/nov4/images/down_arrow_select.jpeg) no-repeat right #ddd;
   border: 1px solid #ccc;
   border-radius: 3px;
font-size: 16px;
margin-bottom:3%;
   }
#registration
{
padding-top:50px;
padding-right:100px;
display: block;
position:relative;
line-height:1;
color: white;
width:500px;
height: 100%;
float: right;
}
#login{
padding-top:160px;
padding-left:100px;
float: left;
display: block;
line-height:1;
color: white;
position:relative;
width:500px;
height: 100%;
}
#notes{
width:100%;
height:100px;
margin-bottom:3%;
padding: 10px 11px;
line-height:1.3;
border-radius: 3px;
box-sizing:border-box;
background-color:#ddd;
margin-bottom:3%;
margin-top:3%;
}
#resume_view{
color:blue;
}
#division{
-webkit-appearance: none;
font-family:'Source Sans Pro', arial, sans-serif;
width:100%;
font-size: 16px;
background: transparent;
text-align:left;
margin-top:3%;
padding:0;
}

.recruiter_bucket{
font-family:'Source Sans Pro', arial, sans-serif;
font-size: 20px;
padding-bottom:8px;
font-weight:300;

}
input.checkbox{
height: 13px;
	width: 13px;
	margin-top:2px;
	margin-bottom:2px;	
}
.filter{
margin-left:50%;
}