h1{
-webkit-margin-before: 0.2em;
-webkit-margin-after: 0.4em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
text-align:center;
font-size: 28px;
}
        
body {
font-family:'Source Sans Pro', arial, sans-serif;
min-height: 100%;
display: block;
margin: 0;
padding: 0;
line-height:1;
}
#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
    background-color:#333333;

}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
  opacity:0.3;
}

.menuBar{
z-index: 1000;
--moz-box-shadow: 1px 1px 3px black;
-webkit-box-shadow: 1px 1px 3px black;
box-shadow: 1px 1px 3px 3px black;
	
	
position:fixed;
    width:100%;
    height:52px;
    display:absolute;
    top:0;
    left:0;
    right:0;
	background-color: #FF5D17;
	display: block;
	line-height: 10%;
    }
.logo{
    float:left;
	height:100%;
	line-height:52px;
	display: block;
	vertical-align:center;
    padding: 0 20px;
    -webkit-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
    }
.nav{
    float:right;
    margin-right:10px;}
.nav ul li{
    list-style:none;
    float:left;
    }
#table{
margin-left:10%;
margin-top:100px;
display: block;
color: white;
position:absolute;
width:80%;
height: 100%;
}
table, th, tr, td{
background-color:white;
border: 1px solid black;
}
table{
border-collapse:collapse;
}
th
{
background-color:#FF5D17;
color:white;
}
td{
text-align:center;
}
.nav{
padding-top:20px;
padding-right:20px;
}
input{
width:100px;
height:20px;
}