.form_title {
color:white;
text-align: left;
font-family:'Source Sans Pro', arial, sans-serif;
font-size: 40px;
padding-bottom: 20px;
font-weight: lighter;
}

body {
font-family:'Source Sans Pro', arial, sans-serif;
position:relative;
background-color: #202020;
}
body:before{
    position: absolute;
z-index: -1;
content: '';
    opacity: .2;
    width: 100%;
    height: 100%;
    background: url('http://hirecanvas.com/event_form/oct30/images/uva.jpg') no-repeat 0 0; 
	background-size:cover;
}

.menuBar{
	position:fixed;
    width:100%;
    height:50px;
    display:absolute;
    top:0;
    left:0;
	background-color:#FF5D17;
	box-shadow: inset 0 2px #FF5D17, 0 1px 3px rgba(34,25,25,0.4);
-moz-box-shadow: inset 0 2px #FF5D17, 0 1px 3px rgba(34,25,25,0.4);
-webkit-box-shadow: inset 0 2px #FF5D17, 0 1px 3px rgba(34,25,25,0.4);
    }
.logo{
    float:left;
	max-height: 40px;
    overflow: visible;
	vertical-align:center;
    padding-top: 0;
    padding-bottom: 0;
	padding-left:1%;
    }
.nav{
    float:right;
    margin-right:10px;}
.nav ul li{
    list-style:none;
    float:left;
    }
.instructions{
font-family:'Source Sans Pro', arial, sans-serif;
color:white;
text-align:left;
}
#form {
text-align:center;
  width: 30%;	
  height: 70%;	
    padding-left: 35%;
padding-top:60px; 
 
	}
	

::-webkit-input-placeholder {
text-align:left;
color:#FF9966;
font-family:'Source Sans Pro', arial, sans-serif;

}

:-moz-placeholder{
text-align:center;
color:#FF9966;
}

:-ms-input-placeholder {
text-align:center;
color:#FF9966;
}

input.tooltip {
font-family:'Source Sans Pro', arial, sans-serif;
opacity:0.9;
border-radius: 3px;
width:100%;
font-size: 100%;
background-color:white;
color:black;
height: 40px;
text-align:left;
padding-left:2%;
}

input.file {
border-radius: 3px;
width:80%;
font-size: 100%;
color:black;
height: 8%;
text-align:center;
}


#submit {
font-family:'Source Sans Pro', arial, sans-serif;
border-radius: 3px;
width:100%;
font-size: 100%;
background-color:#FF5D17;
opacity:0.8;
color:black;
height: 70px;
text-align:center;
border-width: 5px;
border-color:#FF5D17;
}
a {
color:white;
}
.help {
color:white;
font-style:italic;
}
#resume {
font-family:'Source Sans Pro', arial, sans-serif;
opacity:0.8;
border-radius: 3px;
width:100%;
font-size: 100%;
background-color:#C3C3C3;
color:black;
height: 40px;
text-align:center;
border-width: 5px;
border-color:#C3C3C3;
            }

#file {
    display:none;
	}
	#tooltip {
    position: absolute;
    display: none;
    border: 1px solid #999;
    background-color: #ccc;
    padding: 5px;
}